@import url('https://fonts.googleapis.com/css?family=Lato');

@font-face{
	font-family: 'saxmono';
	src: url('saxmono-webfont.woff') format('woff');
}

body {
  margin: 0;

}

.userDetails{
  padding: 5px;
  height: 70px;
  line-height: 40px;
  font-family: 'Lato', sans-serif;
}

.headers{
  text-align: center;
  font-family: 'saxmono', sans-serif;
}

.jumbotron{
  background-color: #006400 !important;
  color: #FFFFFF;
  margin-bottom: 0 !important;
}

h1{
  padding-top: 20px;
  padding-bottom: 30px;
  font-family: 'Lato', sans-serif;
}


.buttons{
  margin-top: 20px;
  margin-bottom: 30px;
  font-family: 'Lato', sans-serif;
}

.btn{
  border: 1px solid #006400 !important;
  color: #006400 !important;
  margin-top: 20px;
}

.btn:hover{
  background-color: #006400 !important;
  color: white !important;
}

.myTitle{
  background-color: #006400;
  color: #FFFFFF;
}

.userList{
  margin-top:0;
  padding-left: 35px;
  padding-right: 35px;
}

.allUsers{
  text-align: center;
  border-bottom: 1px solid #DEDEDE;
}

.allUsers:nth-child(odd){
  background-color: #F9F9F9;
}

.allUsers:nth-child(1){
  border-top: 2px solid #DEDEDE;
  background-color: #CDAD00;
}

.allUsers:nth-child(2){
  background-color: #c0c0c0;
}

.allUsers:nth-child(3){
  background-color: #cd7f32;
}


.alignButtons{
  text-align: center;
}

img{
  height: 55px;
  width: 55px;
}

.tableHeads{
  background-color: #006400;
  color: #FFFFFF;
  height: 60px;
  line-height: 60px;
  margin-left: 20px !important;
  margin-right: 20px !important;
}

h2{
  font-size: 20px !important;
  text-align: center;
}

@media (max-width: 600px) {
  h2{
    font-size: 15px !important;
  }
}

@media (max-width: 490px) {
  h2{
    font-size: 8px !important;
  }

  .allUsers{
    font-size: 10px;
  }
}
